@using FitnessCenterManagement.WebApp.Views.Shared.Resources
@using FitnessCenterManagement.WebApp.Views.Specializations.Resources
@model FitnessCenterManagement.WebApp.Models.SpecializationModel
@{
    ViewData["Title"] = Specializations.CreateNewSpec;
}

<h2>@ViewData["Title"]</h2>
<hr />
@using (Html.BeginForm("Create", "Specializations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.Id)
    <div class="form-group row">
        @Html.LabelFor(m => m.Info, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Info, new { @class = "form-control", placeholder = Specializations.InfoLabel })
            @Html.ValidationMessageFor(m => m.Info, "", new { @class = "text-danger inputError" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-icon" id="submitCreateEventFormBtn" value="@SharedStringRes.CreateBtn">
    </div>
}

@await Html.PartialAsync("_ReturnGrayButton", ("Index", "Specializations", SharedStringRes.GoBackBtn))
