@using FitnessCenterManagement.WebApp.Views.Shared.Resources
@using FitnessCenterManagement.WebApp.Views.Venues.Resources
@model FitnessCenterManagement.WebApp.Models.VenueModel
@{
    ViewData["Title"] = VenueRes.RemoveItem;
}

<h2>@VenueRes.ConfirmRemoveText</h2>
<br />
<div class="p-1">
    <img class="card-img-top" style="float: left; margin-right: 20px; margin-bottom:10px; margin-right: 20px; width: 18rem;"
         src="/Venues/@Model.Id/image" alt="Venue Image" />
    <p><strong>@VenueRes.NameLabel</strong>: @Model.Name</p>
    <p><strong>@VenueRes.LocationLabel</strong>: @Model.Location</p>
</div>
<br />

@await Html.PartialAsync("_ReturnGrayButton", ("Index", "Venues", SharedStringRes.GoBackBtn))

<a asp-action="ConfirmedRemove" asp-controller="Venues" asp-route-id="@Model.Id" class="btn btn-danger">@SharedStringRes.DeleteBtn</a>

